*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.up_del{
  margin-top: 20px;
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}